body {
    overflow: hidden;
}
.container {
    margin: 0 auto;
    width: 100%;
    max-width: 1200px;
}
#album img {
border: 1px solid slategray;
margin: 5px;
padding:5px;
height: 150px;
cursor:pointer;
}
#album span {
    display:inline-block;
}
#modal {
    position: absolute;
    top:0;
    left:0;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0,0,0,0.9);
    z-index:2;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
}
#modal img {
    max-height: 100%;
    max-width: 100%;
}
#modal.hidden {
display:none;
}